<% content_for :show do %>
  <%= render 'do_nothing' %>
<% end %>

<%= render 'business/navbar' %>
   <div class="row-fluid">
     <div class="span12">
<div class="all-info">
<div class="main-image">
  <% main_image = @photo_data["response"]["photos"]["items"].last %>
  <%= image_tag(main_image["prefix"] + "cap250" + main_image["suffix"]) %>
</div>
<div class="business-info">
<h2 id="name"><%= @org['organization']['name'] %></h2>
  <% org_rating = @org['organization']['reviewSummary']['avgReview'].to_i %>
  <% org_rating.times do |star| %>
    <%= image_tag('redstar.png', :size => "20x20" ) %>
  <% end %>
<p class="attributes"><%= @org['organization']['categoryText'].capitalize %></p>
</div>
</div>
<br>

<h2 class="photos">Photos (<%= @num_photos %>)</h2>
<div class="photos">
    <% @photo_data["response"]["photos"]["items"].each do |photo| %>
      <div class="crop">
        <%= image_tag(photo["prefix"] + "cap250" + photo["suffix"]) %>
      </div>
    <% end %>
</div>
<hr>

<div class="reviews">
  <h2>Reviews</h2>

  <% if @reviews.blank? %>
    No Reviews.
  <% else %>
    <% @reviews.each do |r| %>
      <span class="written-by"><p class="label"><%= r['username'] %></p>
      <%= time_ago_in_words(r['createdAt']) %>
      <% review_rating = r['rating'] %>
      <% review_rating.times do |star| %>
        <%= image_tag('redstar.png', :size => "20x20" ) %>
      <% end %>
      <br />
      <p class="review">
        <%= r['content'].html_safe %>
      </p>
      <% if r != @reviews.last %>
        <hr>
      <% end %>
    <% end %>
  <% end %>
</div>
