<!DOCTYPE html>
<html>
<head>
  <title>Autismhelp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <%= csrf_meta_tags %>
  <%= yield :bing_map %>
  <meta name="viewport" content="width=device=width, initial-scale=1.0">
</head>
<body onload="GetMap();">

<%= yield %>

</body>
</html>
